<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql.ramonromeromontilla.me:3306/ramrom39_portfolio</property>
        <property name="hibernate.connection.username">ramrom39</property>
        <property name="hibernate.connection.password">Z#Whjr_78?G5LhW</property>
        <!-- Configuración del dialecto SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración adicional -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <!-- Mapeo de entidades -->
        <mapping class="org.example.entidades.Alumno"/>
    </session-factory>
</hibernate-configuration>